.type, .amount, .currency{
    width: calc(100% / 3);
    height: 36px;
    padding-left: 80px;
    margin: 0px;
    font-size: small;
}
.type{
    text-transform: capitalize;
}
.row:nth-child(2n + 2){
    background-color: rgb(245, 245, 245);
}