.transactionHistory{
    margin: 50px auto 0px auto;
    padding: 0px;
    width: 600px;
    border-radius: 4px;
    overflow: hidden;
}
.tableHeader{
    background-color: rgb(0, 202, 202);
    color: #fff;
}
.tableBody{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
}
.type, .amount, .currency{
    width: calc(100% / 3);
    height: 36px;
    padding-left: 80px;
    margin: 0px;
    font-size: small;
}
.type{
    text-transform: capitalize;
}
.row:nth-child(2n + 2){
    background-color: rgb(245, 245, 245);
}